<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="/user/home/userByEmail" method="post">
	<input type="email" name="email" placeholder="Enter Email"/>
	<button type="submit">Find</button>
</form>


<div  class="tablecont">
	<div>
	<table>
			<tr>
				<th>name</th>
				<th>email</th>
				<th>phoneNumber</th>
			</tr>
			<tr th:each="user: ${users}">
				<td th:text="${user.fullName}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.phoneNumber}"></td>
			</tr>
		</table>
		</div>
		
	</div>
</div>

</body>
</html>